<!DOCTYPE html>
<html lang="it" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
    <title>Alimentazioni</title>
</head>

<body>
<div layout:fragment="content">
    <div class="mb-1">
        <a class="btn btn-outline-primary" role="button"
           href="/operazioni/alimentazioni/scatti">
            Alimentazione a Scatti
        </a>
    </div>
    <div class="mb-1">
        <a class="btn btn-outline-primary" role="button" href="#">
            Alimentazione a Tempo
        </a>
    </div>
    <div class="mb-1">
        <a class="btn btn-outline-primary" role="button" href="#">
            Alimentazioni Non fatte
        </a>
    </div>
</div>
</body>

</html>