<!DOCTYPE html>
<html lang="it"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
    <title>Home</title>
</head>

<body>
<div layout:fragment="content">
    <div><a href="">Bagni galvanici</a></div>
    <div><a href="">Magazzino prodotti</a></div>

    <a href="">Archivio</a>
    <a href="">???</a>
    <a href="">Alimentazioni</a>
    <a href="">Aggiunta manuale</a>
    <a href="">Analisi</a>
    <a href="">Aggiunte da Fare / Approvare</a>
</div>
</body>

</html>