<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
    <title>Aggiunta a scatti</title>
</head>

<body>
<div layout:fragment="content">
    <form>
        <div class="card shadow mb-4" th:each="rispostaScattiGenerale: ${rispostaScattiGeneraleList}">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm">
                        <div>Bagno: <span th:text="${rispostaScattiGenerale.getNomeBagno()}"></span></div>
                        <div>Risposta: <span th:text="${rispostaScattiGenerale.getRispostaCalcoloFront()}"></span></div>
                        <div>Id generale: <span th:text="${rispostaScattiGenerale.getIdStoricoGenerale()}"></span></div>
                        <div>Molt: <span th:text="${rispostaScattiGenerale.getMoltiplicatoreAlimentazione()}"></span>
                        </div>
                        <div>Resto scatti: <span th:text="${rispostaScattiGenerale.getRestoScattiBagno()}"></span></div>
                        <div>Scatti alimentazione:
                            <span th:text="${rispostaScattiGenerale.getScattiAlimentazione()}"></span></div>
                        <div>Scatti Totali: <span th:text="${rispostaScattiGenerale.getScattiTotaliBagno()}"></span>
                        </div>
                        <div>Scatti inseriti: <span th:text="${rispostaScattiGenerale.getScattiInseriti()}"></span>
                        </div>
                        <div>Resto Scatti precedente:
                            <span th:text="${rispostaScattiGenerale.getRestoScattiPrecedenti()}"></span></div>
                    </div>
                    <div class="col-sm">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <th>Nome Prodotto</th>
                                <th>Unità di misura</th>
                                <th>Quantità prodotto</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="dettaglio: ${rispostaScattiGenerale.getDettaglioList()}">
                                <td th:text="${dettaglio.getNomeProdotto()}"></td>
                                <td th:text="${dettaglio.getUnitaDiMisura()}"></td>
                                <td th:text="${dettaglio.getQuantitaProdotto()()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body" style="text-align: right;">
                <button class="btn btn-outline-primary"
                        type="submit"
                        th:attr="hx-post=@{'/operazioni/alimentazioni/confermaTutto'}"
                        hx-target="body"
                        hx-swap="outerHTML">
                    Conferma tutte le alimentazioni
                </button>
            </div>
        </div>
    </form>

    <a href="/alimentazioni/home">Torna alla Home di Alimentazioni</a>

</div>
</body>

</html>
