<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
    <title>Aggiunta a scatti</title>
</head>

<body>
<div layout:fragment="content">
    <form hx-ext="json-enc"
          hx-swap="outerHTML"
          hx-target="body"
          th:attr="hx-post=@{'/operazioni/alimentazioni/scatti/singola'}">
        <div>
            <label for="idBagno">Bagno</label>
            <select id="idBagno" name="idBagno">
                <option th:each="bagno: ${bagnoList}"
                        th:text="${bagno.getNome()}"
                        th:value="${bagno.getIdBagno()}">
                </option>
            </select>
        </div>
        <div>
            <label for="scatti">Scatti Attuali</label>
            <input type="text" id="scatti" name="scatti">
        </div>

        <button class="btn btn-outline-primary"
                type="submit">
            Calcola alimentazione
        </button>
    </form>
</div>
</body>

</html>