<!DOCTYPE html>
<html lang="it" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Layout</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">


    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.1"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.0/json-enc.js"></script>
</head>

<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>


        <!-- Divider -->
        <hr class="sidebar-divider my-0"/>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider"/>

        <!-- Heading -->
        <div class="sidebar-heading">Alimentazioni</div>


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse"
               data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Alimentazione</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Alimentazioni:</h6>
                    <a class="collapse-item" href="/calcola-alimentazione/scatti">
                        Alimentazione a Scatti
                    </a>
                    <a class="collapse-item" href="#">
                        Alimentazione a Tempo
                    </a>
                    <a class="collapse-item" href="#">
                        Alimentazioni da eseguire
                    </a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>


    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" layout:fragment="content"></div>

        <!-- Main Content -->
        <div id="content"></div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>

</html>
<!--
<div class="card mb-2">
    <div class="card-body">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                Azioni
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/bagno/list">Bagno</a></li>
                <li><a class="dropdown-item" href="/alimentazione/list">Alimentazione</a>
                </li>
                <li><a class="dropdown-item" href="/dettaglioAlimentazione/list">Dettaglio
                    alimentazione</a></li>
                <li><a class="dropdown-item" href="/relazioneBagnoProdotto/list">Relazione
                    bagno prodotto</a></li>
                <li><a class="dropdown-item" href="/magazzino/list">Magazzino</a>
                </li>
                <li><a class="dropdown-item" href="/prodotto/list">Prodotto</a>
                </li>
                <li><a class="dropdown-item" href="/caratteristicaBagno/list">Caratteristica
                    bagno</a></li>
                <li><a class="dropdown-item" href="/home">Torna a Home</a></li>
            </ul>
        </div>
    </div>
</div>-->
