<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/main_layout}">

<head>
	<title>Nuovo Alimentazioni</title>
</head>

<body>
<div layout:fragment="content">

	<form th:attr="hx-post=@{'/alimentazione'}" hx-ext="json-enc" hx-target="body" hx-swap="outerHTML">
		<div>
			<label for="idBagno">Bagno</label>
			<select id="idBagno" name="idBagno">
				<option></option>
				<option th:each="bagno: ${bagnoList}" th:value="${bagno.getIdBagno()}" th:text="${bagno.getNome()}">
				</option>
			</select>
		</div>
		<div>
			<label for="descrizione">Descrizione</label>
			<input type="text" id="descrizione" name="descrizione">
		</div>
		<fieldset>
			<div>Seleziona tipo di Alimentazione:</div>
			<div>
				<input th:attr="hx-get=@{'/alimentazione/campiScattiNuovo'}"
						hx-trigger="change"
						hx-target="#campiTipoAlimentazione"
						hx-swap="innerHTML"
						type="radio"
						id="scatti"
						name="tipoAlimentazione"
						value="Scatti"/>
				<label for="scatti">Scatti</label>

				<input th:attr="hx-get=@{'/alimentazione/campiTempoNuovo'}"
						hx-trigger="change"
						hx-target="#campiTipoAlimentazione"
						hx-swap="innerHTML"
						type="radio"
						id="tempo"
						name="tipoAlimentazione"
						value="Tempo"/>
				<label for="tempo">Tempo</label>
			</div>
		</fieldset>
		<div id="campiTipoAlimentazione">

		</div>

		<button class="btn btn-outline-primary" type="submit">
			Salva
		</button>
	</form>
</div>
</body>

</html>
