<!DOCTYPE html>
<html lang="it"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
    <title>Aggiunta a scatti</title>
</head>

<body>
<div layout:fragment="content">
    <div class="card shadow mb-4" id="mainCard">
        <div class="card-header py-3">Alimentazione Manuale</div>
        <div class="card-body">
            <label for="bagnoId">Bagno</label>
            <select class="form-control"
                    name="bagnoId"
                    id="bagnoId"
                    hx-trigger="change"
                    hx-target="#mainCard"
                    hx-swap="outerHTML"
                    hx-get="/calcola-alimentazione/manuale/bagno">
                <option value="">Selezione un bagno</option>
                <option th:each="bagno : ${bagnoList}"
                        th:value="${bagno.getIdBagno()}"
                        th:text="${bagno.getNome()}"></option>
            </select>
        </div>
    </div>
</div>
</body>

</html>
