<!DOCTYPE html>
<html lang="it"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
    <title>Home</title>
</head>

<body>
<div layout:fragment="content">
    <div><a href="">Bagni galvanici</a></div>
    <div><a href="">Magazzino prodotti</a></div>
    <div><a href="/storico/home">Archivio</a></div>
    <div><a href="">???</a></div>
    <div><a href="/alimentazioni/home">Alimentazioni</a></div>
    <div><a href="">Aggiunta manuale</a></div>
    <div><a href="">Analisi</a></div>
    <div><a href="">Aggiunte da Fare / Approvare</a></div>


</div>
</body>

</html>