<!DOCTYPE html>
<html lang="it" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main_layout}">

<head>
    <title>Home</title>
</head>

<body>
    <div layout:fragment="content">
        <div><a class="btn btn-outline-primary" role="button" href="#">Bagni galvanici</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="">Magazzino prodotti</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="/storico/home">Archivio</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="">???</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="/alimentazioni/home">Alimentazioni</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="">Aggiunta manuale</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="">Analisi</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="">Aggiunte da Fare / Approvare</a></div>
        <div><a class="btn btn-outline-primary" role="button" href="/search">Prova form</a></div>
    </div>
</body>

</html>