<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="it">
<head>
    <title>Home</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="btn-group">
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Azioni
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Bagno</a></li>
            <li><a class="dropdown-item" href="#">Alimentazione</a></li>
            <li><a class="dropdown-item" href="#">Dettaglio alimentazione</a></li>
            <li><a class="dropdown-item" href="#">Relazione bagno prodotto</a></li>
            <li><a class="dropdown-item" href="/magazzino/elenco">Magazzino</a></li>
            <li><a class="dropdown-item" href="#">Prodotto</a></li>
            <li><a class="dropdown-item" href="#">Caratteristica bagno</a></li>
        </ul>
    </div>

</div>

<form th:attr="hx-put=@{'/magazzino/'+${magazzino.getIdMagazzino()}}"
      hx-ext="json-enc"
      hx-target="body"
      hx-swap="outerHTML">
    <div>
        <label for="id">Descrizione</label>
        <input type="text" disabled id="id" name="idMagazzino"
               th:value="${magazzino.getIdMagazzino()}">
    </div>
    <div>
        <label for="descrizione">Descrizione</label>
        <input type="text" id="descrizione" name="descrizione"
               th:value="${magazzino.getDescrizione()}">
    </div>
    <button class="btn btn-outline-primary"
            type="submit">
        Salva
    </button>
</form>

</body>

</html>