<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
    <title>Nuovo prodotto</title>
</head>

<body>
<div layout:fragment="content">

    <form th:attr="hx-post=@{'/prodotto'}"
          hx-ext="json-enc"
          hx-target="body"
          hx-swap="outerHTML">
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">
        </div>
        <div>
            <label for="descrizione">Descrizione</label>
            <input type="text" id="descrizione" name="descrizione">
        </div>
        <div>
            <label for="ph">pH prodotto</label>
            <input type="text" id="ph" name="ph">
        </div>
        <div>
            <label for="magazzino">magazzino</label>
            <select name="idMagazzino" id="magazzino">
                <option></option>
                <option th:each="magazzino: ${magazzinoList}"
                        th:value="${magazzino.getIdMagazzino()}"
                        th:text="${magazzino.getIdMagazzino()}+', '+${magazzino.getDescrizione()}">
                </option>
            </select>

        </div>
        <button class="btn btn-outline-primary"
                type="submit">
            Salva
        </button>

    </form>
</div>

</body>

</html>