<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="it">

<head>
    <meta charset="UTF-8">
    <title>bagnoCard</title>
</head>

<body>
    <div th:fragment="showCard" class="card-body" hx-target="this" hx-swap="outerHTML">
        <div class="d-flex">
            <div>
                <h5 class="card-title mb-0">
                    <span th:text="${bagno.getNome()}"></span>
                </h5>
                <div>IdBagno: <span th:text="${bagno.getIdBagno()}"></span></div>
                <div>Litri: <span th:text="${bagno.getLitri()}"></span></div>
                <div>Scatti Totali: <span th:text="${bagno.getScattiTotali()}"></span></div>
                <div>Resto Scatti: <span th:text="${bagno.getRestoScatti()}"></span></div>

                <div class="d-flex justify-content-between align-items-center mt-3">
                    <a th:href="'/bagnoFe/edit/' + ${bagno.getIdBagno()}" class="btn btn-outline-primary">
                        Modifica
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- vedi sotto! <form th:attr="hx-put=@{'/bagnoFe/' + ${bagno.getIdBagno()}}, hx-indicator=@{'#spinner_' + ${bagno.getIdBagno()}}"
    -->
    <form th:attr="hx-put=@{'/bagnoFe/' + ${bagno.getIdBagno()}}" th:fragment="editCard" hx-ext="json-enc"
        hx-target="this" hx-swap="outerHTML">
        <div class="card-body">
            <div class="d-flex">
                <div>
                    <h5 class="card-title mb-0">
                        <span th:text="${bagno.getIdBagno()}"></span>
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" th:value="${bagno.getNome()}"></span>
                    </h5>
                    <div>
                        <label for="litri">Litri:</label>
                        <input type="text" id="litri" name="litri" th:value="${bagno.getLitri()}"></span>
                    </div>
                    <div>
                        <label for="scattiTotali">Scatti Totali:</label>
                        <input type="text" id="scattiTotali" name="scattiTotali"
                            th:value="${bagno.getScattiTotali()}"></span>
                    </div>
                    <div>
                        <label for="restoScatti">Scatti Totali:</label>
                        <input type="text" id="restoScatti" name="restoScatti"
                            th:value="${bagno.getRestoScatti()}"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <button class="btn btn-outline-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>