<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="it">

<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>

<body>

<div class="card shadow mb-4" th:fragment="bagnoCard"
     th:each="risposta: ${rispostaATempoList}">
    <div class="card-header py-3" th:text="${risposta.getNomeBagno()}"></div>
    <div class="card-body">


        <div class="row">
            <div class="col-sm">
                <div th:text="${risposta.getRispostaCalcoloFront()}"></div>
                <div>Data Controllo: <span
                        th:text="${risposta.getDataControlloTempo()}"></span></div>
                <div>Data Ultimo Controllo: <span
                        th:text="${risposta.getDataControlloPrecedente()}"></span></div>
                <div>Numero di Aggiunte: <span
                        th:text="${risposta.getNumeroDiAggiunteCalcolate()}"></span></div>
            </div>
            <div class="col-sm">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Prodotto</th>
                        <th scope="col">Quantità</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dettaglio: ${risposta.getDettaglioList()}">
                        <td th:text="${dettaglio.getNomeProdotto()}"></td>
                        <td>
                            <span th:text="${dettaglio.getQuantitaProdotto()}"></span>
                            <span th:text="${dettaglio.getUnitaDiMisura()}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>
