<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="it">

<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>

<body>
<div th:fragment="bagnoCard">
    <div th:each="risposta: ${rispostaATempoList}">


        <div>nomeBagno <span th:text="${risposta.getNomeBagno()}"></span></div>
        <div>idBagno <span th:text="${risposta.getIdBagno()}"></span></div>
        <div>rispostaCalcoloFront <span th:text="${risposta.getRispostaCalcoloFront()}"></span></div>
        <div>dataControlloTempo <span th:text="${risposta.getDataControlloTempo()}"></span></div>
        <div>dataControlloPrecedente <span th:text="${risposta.getDataControlloPrecedente()}"></span></div>
        <div>numeroDiAggiunteCalcolate <span th:text="${risposta.getNumeroDiAggiunteCalcolate()}"></span></div>
        <div>idStoricoGeneraleList <span th:text="${risposta.getIdStoricoGeneraleList()}"></span></div>
        <div>idStoricoDettaglioList <span th:text="${risposta.getIdStoricoDettaglioList()}"></span></div>
    </div>
</div>
</body>

</html>
